Repository gomint/gomint, pull requests merged in 2018-11, with the labels that each got.

#411 Resolves #410: Implement command and functionality to set the world's spawn
  gomint-api/src/main/java/io/gomint/world/World.java
  gomint-server/src/main/java/io/gomint/server/command/CommandManager.java
  gomint-server/src/main/java/io/gomint/server/command/vanilla/SetWorldSpawnCommand.java
  gomint-server/src/main/java/io/gomint/server/world/WorldAdapter.java
  gomint-server/src/main/java/io/gomint/server/world/leveldb/LevelDBWorldAdapter.java
Labels: PR action: merge, PR action: review, comp: api, comp: server, type: not implemented feature

#419 Refactor classes in module 'API', package 'config'
  gomint-api/src/main/java/io/gomint/config/BaseConfig.java
  gomint-api/src/main/java/io/gomint/config/BaseConfigMapper.java
  gomint-api/src/main/java/io/gomint/config/Comment.java
  gomint-api/src/main/java/io/gomint/config/Comments.java
  gomint-api/src/main/java/io/gomint/config/Config.java
  gomint-api/src/main/java/io/gomint/config/ConfigMapper.java
  gomint-api/src/main/java/io/gomint/config/ConfigMode.java
  gomint-api/src/main/java/io/gomint/config/ConfigSection.java
  gomint-api/src/main/java/io/gomint/config/IConfig.java
  gomint-api/src/main/java/io/gomint/config/InternalConverter.java
  gomint-api/src/main/java/io/gomint/config/InvalidConfigurationException.java
  gomint-api/src/main/java/io/gomint/config/InvalidConverterException.java
  gomint-api/src/main/java/io/gomint/config/Path.java
  gomint-api/src/main/java/io/gomint/config/PreserveStatic.java
  gomint-api/src/main/java/io/gomint/config/SerializeOptions.java
  gomint-api/src/main/java/io/gomint/config/YamlConfig.java
  gomint-api/src/main/java/io/gomint/config/converter/ArrayConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/BaseConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/BlockPositionConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/ConfigConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/Converter.java
  gomint-api/src/main/java/io/gomint/config/converter/ListConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/LocationConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/MapConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/PrimitiveConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/SetConverter.java
  gomint-api/src/main/java/io/gomint/config/converter/VectorConverter.java
  gomint-api/src/main/java/io/gomint/util/Messages.java
Labels: PR action: discuss, PR action: review, comp: api, flag: breaking change, freq2: medium, type: refactor

#427 Deprecated annotations and fields have been moved/refactored
  gomint-api/src/main/java/io/gomint/config/BaseConfig.java
  gomint-api/src/main/java/io/gomint/config/BaseConfigMapper.java
  gomint-api/src/main/java/io/gomint/config/ConfigMapper.java
  gomint-api/src/main/java/io/gomint/config/InternalConverter.java
  gomint-api/src/main/java/io/gomint/config/YamlConfig.java
  gomint-api/src/main/java/io/gomint/config/annotation/Comment.java
  gomint-api/src/main/java/io/gomint/config/annotation/Comments.java
  gomint-api/src/main/java/io/gomint/config/annotation/Path.java
  gomint-api/src/main/java/io/gomint/config/annotation/PreserveStatic.java
  gomint-api/src/main/java/io/gomint/config/annotation/SerializeOptions.java
  gomint-api/src/main/java/io/gomint/config/converter/ConfigConverter.java
  gomint-server/src/main/java/io/gomint/server/config/ConnectionConfig.java
  gomint-server/src/main/java/io/gomint/server/config/ServerConfig.java
  gomint-server/src/main/java/io/gomint/server/config/VanillaConfig.java
  gomint-server/src/main/java/io/gomint/server/config/WorldConfig.java
Labels: PR action: merge, PR action: review, comp: api, comp: server, freq1: low, type: refactor

#433 Correct drops for diamond and emerald
  gomint-server/src/main/java/io/gomint/server/world/block/DiamondOre.java
  gomint-server/src/main/java/io/gomint/server/world/block/EmeraldOre.java
Labels: PR action: merge, cat1: vanilla, comp: server, type: feature
