Repository gomint/gomint, pull requests merged in 2018-12, with the labels that each got.

#442 Add maven-jar-plugin and mainClass attribute (Fixes #17)
  gomint-performance-viewer/pom.xml
Labels: cat7: internal, comp2: performance-viewer, pr1: merge

#446 Tidy up the README file
  .github/ASSETS/logo_discord.png
  .github/ASSETS/logo_optimized.png
  .github/ASSETS/logo_twitter.png
  README.md
  gomint-api/pom.xml
  gomint-asset-compiler/pom.xml
  gomint-converter/pom.xml
  gomint-native/pom.xml
  gomint-server/pom.xml
  gomint-test-plugin/pom.xml
Labels: cat5: github, pr1: merge

#480 Update README.md
  README.md
Labels: cat5: github, pr1: merge, priority0: low, type: refactor

#472 Add missing block implementations for melon, pumpkin and wheat seeds
  gomint-api/src/main/java/io/gomint/world/generator/object/OakTree.java
  gomint-server/src/main/java/io/gomint/server/inventory/item/ItemMelonSeeds.java
  gomint-server/src/main/java/io/gomint/server/inventory/item/ItemPumpkinSeeds.java
  gomint-server/src/main/java/io/gomint/server/inventory/item/ItemSeeds.java
Labels: cat6: vanilla, cat7: internal, comp3: server, pr1: merge, priority2: high, type: bug
